{% extends "base.html" %}
{% block body %}

<div id="wrapper">


    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
      {% include "nav.html" %}
    </nav>

    <div class="jumbotron">

    <div class="container">

      <div class="row">

        <h1>AQUA SVM</h1>
        <p>阿夸机器学习(基于支持向量机的)情感分析器</p>
        <h3>系统模块:</h3>
        <p> 1. 评论抓取系统: 给定游戏ID固定爬取10页评论数据 </p>
        <p> 2. 分词与情感提取: 基于 <a>JIEBA</a> 分词和 <a>NTUSD</a> 情感辞典的特征提取 </p>
        <p> 3. 文本向量化: 向量维度划分 </p>
        <p> 4. 机器训练: 基于 <a>LIBSVM</a> 的支持向量机，核函数为RBF </p>
        <p> 5. 情感分析 </p>
        <p> 6. 回归验证 </p>

      </div>

      <!-- Nav tabs -->
      <div class="row">
        <div>

        <ul class="nav nav-pills">
          <li class="active"><a href="#crawler" data-toggle="tab">抓取</a>
          </li>
          <li><a href="#spliter" data-toggle="tab">分词与特征提取</a>
          </li>
          <li><a href="#session-pills" data-toggle="tab">情感向量化</a>
          </li>
          <li><a href="#train" data-toggle="tab">机器训练</a>
          </li>
          <li><a href="#stopwatch-pills" data-toggle="tab">回归验证</a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade in active" id="crawler" style="margin-top:10px">
            <crawler></crawler>
          </div>
          <div class="tab-pane fade" id="spliter" style="margin-top:10px">
            <spliter></spliter>
          </div>
          <div class="tab-pane fade" id="train" style="margin-top:10px">
            <train></train>
          </div>
        </div>


        </div>
      </div>

      <div class="row">
        <h5 class="text-center">© Powered by Captain ZEN </h5>
      </div>

    </div>
  </div>

  <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
{% endblock %}
