<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-sort-amount-asc fa-fw"></i>Application Chain
  </div>


  <div class="panel-body" style="overflow:scroll;max-height:444px">
    <div class="list-group">
      <ol class="sortable">
        <li>
          <div>
            <a href="#" class="list-group-item">
              <i class="fa fa-code fa-fw"></i>search_qp
              <span class="pull-right text-muted small"><em>qp</em>
              </span>
            </a>
          </div>
        <li>
          <div>
            <a href="#" class="list-group-item">
              <i class="fa fa-code fa-fw"></i>search_qp
              <span class="pull-right text-muted small"><em>ha3</em>
              </span>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="#" class="list-group-item">
              <i class="fa fa-code fa-fw"></i>phase_1_query
              <span class="pull-right text-muted small"><em>sort</em>
              </span>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="#" class="list-group-item">
              <i class="fa fa-code fa-fw"></i>phase_1_query
              <span class="pull-right text-muted small"><em>sort</em>
              </span>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="#" class="list-group-item">
              <i class="fa fa-code fa-fw"></i>phase_1_query
              <span class="pull-right text-muted small"><em>sort</em>
              </span>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="#" class="list-group-item">
              <i class="fa fa-code fa-fw"></i>phase_1_query
              <span class="pull-right text-muted small"><em>sort</em>
              </span>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="#" class="list-group-item">
              <i class="fa fa-code fa-fw"></i>phase_1_query
              <span class="pull-right text-muted small"><em>sort</em>
              </span>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="#" class="list-group-item">
              <i class="fa fa-code fa-fw"></i>phase_1_query
              <span class="pull-right text-muted small"><em>sort</em>
              </span>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="#" class="list-group-item">
              <i class="fa fa-code fa-fw"></i>phase_1_query
              <span class="pull-right text-muted small"><em>sort</em>
              </span>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="#" class="list-group-item">
              <i class="fa fa-code fa-fw"></i>phase_1_query
              <span class="pull-right text-muted small"><em>sort</em>
              </span>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="#" class="list-group-item">
              <i class="fa fa-code fa-fw"></i>phase_1_query
              <span class="pull-right text-muted small"><em>sort</em>
              </span>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="#" class="list-group-item">
              <i class="fa fa-code fa-fw"></i>phase_1_query
              <span class="pull-right text-muted small"><em>sort</em>
              </span>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="#" class="list-group-item">
              <i class="fa fa-code fa-fw"></i>phase_1_query
              <span class="pull-right text-muted small"><em>sort</em>
              </span>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="#" class="list-group-item">
              <i class="fa fa-code fa-fw"></i>phase_1_query
              <span class="pull-right text-muted small"><em>sort</em>
              </span>
            </a>
          </div>
        </li>
      </ol>
    </div>
  </div>
</div>
